@import "theme.css";

#workspaces button {
	padding: 0 0.5em;
	background-color: @gray-800;
	color: @text;
	margin: 0.25em;
}

#workspaces button:hover {
	background-color: @gray-700;
}
#workspaces button.empty {
	color: @gray-700;
}
#workspaces button.empty:not(.active):hover {
	color: @gray-400;
}

#workspaces button.visible {
	color: @blue;
}

#workspaces button.active {
	background-color: @indigo-600;
}

#workspaces button.urgent {
	background-color: @red;
	border-radius: 1em;
	color: @text;
}

#idle_inhibitor {
	margin-left: 0.5em;
	border-radius: 1em;
	padding: 0.5em;
	background-color: @gray-800;
}
#idle_inhibitor:hover {
	background-color: @gray-700;
}

#idle_inhibitor.activated {
	background-color: @indigo-600;
}

#idle_inhibitor.deactivated {
	color: @gray-600;
}
#idle_inhibitor.deactivated:hover {
	color: @gray-400;
}

tooltip {
	font-family: JetBrainsMono Nerd Font, monospace;
	font-size: 14px;
	padding: 6px 8px;
	color: @gray-400;
	background-color: @gray-900;
}

tooltip label {
	padding: 0;
	margin: 0;
}

#custom-wg {
	padding: 0 0.6em;
	border-radius: 0.4em;
}

#custom-wg.active {
	background-color: @indigo-600;
	color: #f9f8ff;
}

#custom-wg.inactive {
	background-color: @gray-700;
	color: @gray-400;
}

#custom-wg.inactive:hover {
	background-color: @gray-600;
	color: @gray-200;
}

#clock {
	margin-right: 0.5em;
}
